@media only screen and (max-width: 1000px) {

	#basic-info > div {
		transform: scale(1.15);
		left: 20px;
	}

	.wall-of-text h3 {
		font-size: 12px;
	}

	.horizontal-item h1 {
		font-size: 22px;
	}

	.horizontal-item h4 {
		font-size: 16px;
	}

	#my-languages, #my-courses ul {
		transform: scale(1.2);
		margin-top: 50px;
		margin-left: 50px;
	}

	#my-languages li {
		font-size: 14pt;
	}

	#my-papers {
		height: 120px;
	}

	#my-courses {
		height: 170px;
	}

	#my-languages #naturals {
		left: 100px;
	}

	#my-languages #programming {
		right: 100px;
	}


}
