@media only screen and (max-width: 1000px) {

	#basic-info div {
		transform: scale(1.15);
		left: 20px;
	}

	.wall-of-text h3 {
		font-size: 12px;
	}

	#my-languages {
		transform: scale(1.2);
		margin-top: 50px;
	}

	#my-languages li {
		font-size: 18px;
	}

	#my-languages #naturals {
		left: 100px;
	}

	#my-languages #programming {
		right: 100px;
	}


}
